

<app-header/>

<h3> Plantilla de PostList: </h3>


<p> Para que la creación y el fetch de post funcione se requiere una conexión a una API desde la que obtener los datos y mandar las peticiones</p>
<p> Recuerda incluir en environments la configuración para tu API tanto en desarrollo como en producción. </p>
<app-post-create/>


<app-post-list/>

<h3> Plantilla de calculadora: </h3>
<app-user-input (calculate)="onCalculateInvestment($event)"/>

<app-investment-result [investment]="investment"/>


