<!--- app-card es nuestro wrapper, que podemos utilizar también en user, por ejemplo-->

<app-card>
    <article>
        <h2> {{ task!.title }} </h2>

        <!-- PIPES: A continuación vemos la sintaxis de LOS PIPES, que permite dar formato a algunos componentes de Angular, como la fecha-->
        <time> {{ task!.dueDate | date:'fullDate' }}</time>
        <p>{{ task!.summary }}</p>
        <p class="actions">
            <button (click)="onCompleteTask()"> Complete </button>
        </p>
    </article>
</app-card>