<!-- app-card es el wrapper, que utilizaremos también en task -->

<app-card>
    <div>
        <button  [class.active]="selected" (click)="onSelectUser()" >
        <!-- ENFOQUE CLÁSICO-->
            <img 
                [src]="imagePath" 
                [alt]="user.name"
            />
            <span> {{ user.name }} </span>

        <!-- ENFOQUE CON SIGNALS
            <img 
                [src]="imagePathSignals()" 
                [alt] = "name"
            />
            <span> {{ nameSignals() }} </span>
        -->

        </button>
    </div>
</app-card>

