<header>

    <mat-card>
        <mat-card-header>
          <mat-card-title>Angular 18.0 Project Template</mat-card-title>
          <mat-card-subtitle>Desarrollada por fjzamora93. Inlcuye:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>-Conexión a Api Rest</li>
                <li>-Post Service (con métodos get y post)</li>
                <li>-CSRF Service</li>
                <li>-Componentes StandAlone (no basada en módulos)</li>
                <li>-Módulo con materials</li>
                <li>-Variables de Entorno</li>
                <li>-Configuración HTTPClient en app.config</li>
            </ul>
        </mat-card-content>
        <mat-card-actions>
            <img src="elgatobarista-logo.png" alt="imagen">
        </mat-card-actions>
      </mat-card>

    
</header>
