<header>
    <h1> Angular Template </h1>
    <p> Plantilla desarrollada en Angular 18.0.0. Incluye:</p>

    <ul>
        <li>-Conexión a Api Rest</li>
        <li>-Post Service (con métodos get y post)</li>
        <li>-CSRF Service</li>
        <li>-Componentes StandAlone (no basada en módulos)</li>
        <li>-Módulo con materials</li>
        <li>-Variables de Entorno</li>
        <li>-Configuración HTTPClient en app.config</li>
    </ul>
    

    <img src="investment-calculator-logo.png" alt="imagen">
</header>
