

<button (click)="openImage(image)" class="nav-button prev-button"> Anterior</button>

<mat-grid-list cols="3" rowHeight="100px">



    @for (image of imageGallery; track image._id) {
        <mat-grid-tile >
            <img [src]="image.src" [alt]="image.alt" (click)="openImage(image)">
        </mat-grid-tile>
    }

    

</mat-grid-list>
<button (click)="openImage(image)" class="nav-button next-button">Siguiente </button>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Delete</button>
</mat-dialog-actions>