<section id="tasks">

    <header>
        <h2> {{  name  }} </h2>
        <menu>
            <button (click)="onStartAddTask()">Add task</button>
        </menu>
    </header>

    @if (this.isAddingTask === true){
        <!--- Fíjate que el select coge como parámetro cualquier función...-->
        <app-new-task (cancel)="onCancelAddTask()" (add)="onSubmitAddTask($event)"/> 
    }
    
    
    
    <!--- PARA COMPLETAR EL CÓDIGO, TIENES QUE ITERAR SOBRE CADA TASK DE TAL FORMA QUE LE DIGAS AL IMPUT LO QUE ES UN TASK-->
    <ul>
        @if (selectedUserTasks.length === 0){
            <p id="fallback">Bien hecho! No hay tareas pendientes</p>
        } @else {
        @for (task of selectedUserTasks; track task.id){
            <li>
                <app-task [task]="task" (select)="onSelectTask($event)"></app-task>
            </li>
        }
    }
    </ul>

</section>
    
