
<div>
    <!-- La sintaxis para añadir un evento es entre paréntesis (click)
    Hay varios eventos a tener en cuenta. 
    Entre comillas metes el código del método que deberá ejecutarse
    -->
    <button (click)="onSelectUser()" >
        <img 
            [src]="imagePath()" 
            [alt] = "selectedUser().name"
        />
        <!--- MÉTODO CON SIGNALS PARA ACCEDER A UN COMPONENTE-->
        <span> {{ selectedUser().name }} </span>
        <!-- 
        MÉTODO CLÁSICO PARA ACCEDER A UN COMPONENTE:
        <span> {{ selectedUser.name }} </span> 
        -->
    </button>
</div>

