<!-- Este documento hay que crearlo manualmente, y funcionará como una plantilla para app-header -->

<header>
    <img src="assets/task-logo.png" alt="imagen"/>
    <h1>Esto es una muestra</h1>
    
</header>

<!--- Angular no lee automáticamente los componentes según se introducen, 
    para que esto sea así, sería necesario irse al archivo main.ts

    Pero como esa no sería la forma más óptima de importarlo, 
    lo que haremos será importar cada componente creado dentro de app.components.ts

    IR A app.components.ts
-->