

<router-outlet />

<app-header></app-header>


<main>
  <ul id="users">
    <li>
      <app-user [user]="users[0]" 
      (select)="onSelectUser($event)"/>
        
    </li>

    <li>
      <app-user [user]="users[1]" 
      (select)="onSelectUser($event)"/>
    </li>

    <li>
      <app-user [user]="users[2]" 
      (select)="onSelectUser($event)"/>
    </li>


    <!-- FORMATO ANTIGUO, ANTES DE SIMPLIFICAR LAS PROPIEDADES A UN OBJETO USER
    <li>
      <app-user 
      [id]="users[2].id"
      [avatar]="users[2].avatar"
      [name]="users[2].name"
      (select)="onSelectUser($event)"
      />
    </li> -->

    <app-tasks 
      [name]="selectedUser?.name"
    />


  </ul>
</main>