
<form> <fieldset> 
    <legend> Add New Task </legend>
    <div id="new-task">
        <label for="taskTitle">Task Title </label> 
        <input type="text" class="form-control" id="taskTitle"  name="taskTitle" required> <br>

        <label for="taskid">Task ID </label> 
        <input type="text" class="form-control" id="taskid"  name="taskid" required> <br>

        <label for="tasksummary">Task Summary </label>
        <input type="textarea" class="form-control" id="tasksummary"  name="tasksummary" required> <br>
        
        <label for="dueDate">Task Date</label>
        <input type="date" class="form-control" id="dueDate"  name="dueDate" required> <br>
        
        
        <input type="submit" value="Add Task" (click)="confirmar()">
    </div>
</fieldset></form>

