<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Task</h2>

  <!--- ngSubmit es lo que permite manejar el submit del lado del cliente, sin el servidor-->
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="title">Title</label>
      <!--- ngModel hará un 'binding' desde lo introducido en el input hasta la variable-->
      <input type="text" id="title" name="title" [(ngModel)]="enteredTitle"/>
    </p>

    <p>
      <label for="summary">Summary</label>
      <textarea id="summary" rows="5" name="summary" [(ngModel)]="enteredSummary"></textarea>
    </p>

    <p>
      <label for="due-date">Due Date</label>
      <!--- Para html, 'date' sigue siendo un string, aunque ponga date-time-->
      <input type="date" id="due-date" name="due-date" [(ngModel)]="enteredDueDate"/>
    </p>

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>

      <!-- Ya arriba manejábamos el envío, no hace falta llamar a la función aquí, 
        aunque se podría y se duplicaría-->
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>